/* Reseteo de márgenes y paddings */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background container */
.visit-record-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a7ded3;
}

.visit-record-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.animal-info, .visit-details {
    text-align: left;
}

.animal-img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e9ecef;
}

.btn-primary {
    border-radius: 25px;
    padding: 10px 20px;
}
